.my-5-custom {
  margin: 5rem 0;
}

.root-bg-color-1 {
  background-color: #051622 !important;
}

.root-bg-color-2 {
  background-color: #deb992 !important;
}

.root-bg-color-3 {
  background-color: #1ba098 !important;
}

.root-bg-color-4 {
  background-color: #444444 !important;
}

.root-color-1 {
  color: #051622 !important;
}

.root-color-2 {
  color: #deb992 !important;
}

.root-color-3 {
  color: #1ba098 !important;
}

.root-color-4 {
  color: #444444 !important;
}

.animation {
  transition: all 0.5s ease;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../font/Roboto-Medium.ttf);
}
*,
body {
  font-family: "Roboto-Medium";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

nav#navbar button {
  border: 0;
}
nav#navbar button .custom-nav-toggle {
  position: relative;
  width: 0;
  font-size: 25px;
  background: #051622;
  color: #deb992;
  bottom: -3px;
}
nav#navbar button .custom-nav-toggle:hover {
  color: #1ba098;
}
nav#navbar .collapse a {
  transition: all 0.5s ease;
}
nav#navbar .collapse a:hover {
  color: #1ba098 !important;
}

section#steps .steps-title {
  margin: 7rem 0px -1rem 0px;
}
section#steps .steps-title h2 {
  color: #1ba098 !important;
}
section#steps .steps-title h3 {
  color: #444444;
}
section#steps .row h3 {
  color: #051622;
}
section#steps .row p {
  color: #444444;
}
section#steps .row a {
  transition: all 0.5s ease;
  color: #1ba098;
}
section#steps .row a i {
  transition: all 0.5s ease;
}
section#steps .row a:hover i {
  margin-left: 1rem !important;
}

footer#footer {
  min-height: 350px;
  display: flex;
  align-items: center;
}
footer#footer .row h3 {
  font-size: 18px;
  color: #deb992;
}
footer#footer .row ul li {
  cursor: pointer;
  color: #1ba098;
}
footer#footer .row ul li a,
footer#footer .row ul li i {
  transition: all 0.5s ease;
  color: #1ba098;
}
footer#footer .row ul li:hover {
  color: #444444;
}
footer#footer .row ul li:hover a,
footer#footer .row ul li:hover i {
  color: #444444;
}