@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@font-face {
  font-family: "Roboto-Medium";
  src: url(../font/Roboto-Medium.ttf);
}
.mt-5-custom {
  margin-top: 5rem;
}

.mt-10-custom {
  margin-top: 10rem;
}

.root-bg-color-1 {
  background-color: #051622 !important;
}

.root-bg-color-2 {
  background-color: #cca57b !important;
}

.root-bg-color-3 {
  background-color: #1ba098 !important;
}

.root-bg-color-4 {
  background-color: #444444 !important;
}

.root-color-1 {
  color: #051622 !important;
}

.root-color-2 {
  color: #cca57b !important;
}

.root-color-3 {
  color: #1ba098 !important;
}

.root-color-4 {
  color: #444444 !important;
}

*,
body {
  font-family: "Roboto-Medium";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

nav#navbar {
  min-height: 65px;
}
nav#navbar button {
  border: 0;
}
nav#navbar button .custom-nav-toggle {
  position: relative;
  width: 0;
  font-size: 25px;
  background: #051622;
  color: #deb992;
  bottom: -3px;
}
nav#navbar button .custom-nav-toggle:hover {
  color: #1ba098;
}
nav#navbar .collapse a#sign-in {
  position: relative;
  transition: all 0.5s ease;
}
nav#navbar .collapse a#sign-in::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #1ba098;
  width: 0;
  transition: all 0.5s ease;
}
nav#navbar .collapse a#sign-in:hover {
  color: #444444 !important;
}
nav#navbar .collapse a#sign-in:hover::after {
  width: 100%;
}
nav#navbar .collapse ul li {
  display: inline-block;
  position: relative;
}
nav#navbar .collapse ul li a {
  transition: all 0.5s ease;
}
nav#navbar .collapse ul li a:hover {
  color: #1ba098 !important;
}
nav#navbar .collapse ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #444444;
  width: 0;
  transition: all 0.5s ease;
}
nav#navbar .collapse ul li:hover::after {
  width: 100%;
}

header#header {
  margin-top: 5rem !important;
}
header#header .carousel .carousel-control-prev i {
  color: #444444;
  font-size: 45px;
  position: absolute;
  bottom: -50px;
  right: -225%;
}
header#header .carousel .carousel-control-next i {
  color: #444444;
  font-size: 45px;
  position: absolute;
  bottom: -50px;
  left: -225%;
}
header#header .carousel .carousel-inner .carousel-item i.gear-1-1 {
  position: absolute;
  top: 35px;
  left: 21px;
  font-size: 20px;
  color: rgb(82, 44, 14);
  animation: gear-1-1 15s infinite linear;
}
header#header .carousel .carousel-inner .carousel-item i.gear-1-2 {
  position: absolute;
  top: 35px;
  left: 40px;
  font-size: 40px;
  color: rgb(233, 93, 0);
  animation: gear-1-2 15s infinite linear;
}
@keyframes gear-1-1 {
  100% {
    transform: rotate(-350deg);
  }
}
@keyframes gear-1-2 {
  100% {
    transform: rotate(350deg);
  }
}

section#domain {
  margin-top: 10rem !important;
}
section#domain .row form .domain-searcher {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #444444;
  border-radius: 50px;
  height: 65px;
}
section#domain .row form .domain-searcher input {
  cursor: pointer;
  border: 0;
  color: #051622;
}
section#domain .row form .domain-searcher input:focus {
  box-shadow: none;
}
section#domain .row form .domain-searcher i {
  color: #1ba098;
  font-size: 25px;
  transition: all 0.5s ease;
}
section#domain .row form .domain-searcher i:hover {
  color: #e95d00;
}
section#domain .row div.domain-types .domain-detail ul {
  display: flex;
  justify-content: space-between;
}
section#domain .row div.domain-types .domain-detail ul li span {
  color: #cca57b;
}
section#domain .row div.domain-types .domain-detail ul li strong {
  color: #051622;
}
section#domain .row .more-domains {
  margin-top: 2.75rem;
}
section#domain .row .more-domains a {
  background: #1ba098;
  color: #efefef;
  padding: 15px 30px;
  border-radius: 50px;
  transition: all 0.5s ease;
}
section#domain .row .more-domains a:hover {
  background: #051622;
  color: #cca57b;
}

section#plans {
  margin-top: 5rem !important;
}
section#plans .row .plan-box .plan-card {
  transition: all 0.5s ease;
  border: 3.5px solid #1ba098;
  border-radius: 10px;
  padding: 20px;
}
section#plans .row .plan-box .plan-card h3 {
  text-align: center;
  font-size: 20px;
  color: #e95d00;
  font-weight: 600;
}
section#plans .row .plan-box .plan-card p {
  text-align: center;
  margin: 20px 0;
  color: #051622;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#plans .row .plan-box .plan-card p span {
  margin: 0 2px;
  font-weight: 650;
  font-size: 23px;
}
section#plans .row .plan-box .plan-card ul li {
  text-align: center;
  margin-bottom: 15px;
}
section#plans .row .plan-box .plan-card ul li i {
  color: #051622;
  margin-right: 5px;
}
section#plans .row .plan-box .plan-card ul li b {
  color: #444444;
}
section#plans .row .plan-box .plan-button {
  display: flex;
  justify-content: center;
}
section#plans .row .plan-box .plan-button a {
  transition: all 0.5s ease;
  width: 50%;
  background: #1ba098;
  color: #efefef;
  padding: 10px;
  border-radius: 3rem;
  font-weight: 800;
}
section#plans .row .plan-box:hover .plan-card {
  border: 3.5px solid #051622;
}
section#plans .row .plan-box:hover .plan-button a {
  background: #051622;
}

section#steps {
  margin-top: 5rem !important;
}
section#steps .steps-title {
  margin: 7rem 0px -1rem 0px;
}
section#steps .steps-title h2 {
  color: #1ba098 !important;
}
section#steps .steps-title h3 {
  color: #444444;
}
section#steps .row h3 {
  color: #051622;
}
section#steps .row p {
  color: #444444;
}
section#steps .row a {
  transition: all 0.5s ease;
  color: #1ba098;
}
section#steps .row a i {
  transition: all 0.5s ease;
}
section#steps .row a:hover i {
  margin-left: 1rem !important;
}

section#about-company {
  margin-top: 5rem !important;
}

section#contact-us {
  margin-top: 5rem !important;
}
section#contact-us .row form input,
section#contact-us .row form textarea {
  border: 1px solid #444444;
}
section#contact-us .row form input::placeholder,
section#contact-us .row form textarea::placeholder {
  color: #444444;
}
section#contact-us .row form input:focus,
section#contact-us .row form textarea:focus {
  border: 2px solid #1ba098 !important;
  box-shadow: none;
}
section#contact-us .row form textarea {
  font-size: 1.25rem;
}
section#contact-us .row form button {
  height: 45px;
  background: #1ba098;
  border: 0;
  transition: all 0.5s ease;
}
section#contact-us .row form button:hover {
  background: #051622;
  color: #cca57b;
}

footer#footer {
  margin-top: 5rem !important;
  min-height: 350px;
  display: flex;
  align-items: center;
}
footer#footer .row h3 {
  font-size: 18px;
  color: #cca57b;
}
footer#footer .row ul li {
  cursor: pointer;
  color: #1ba098;
}
footer#footer .row ul li a,
footer#footer .row ul li i {
  transition: all 0.5s ease;
  color: #1ba098;
}
footer#footer .row ul li:hover {
  color: #444444;
}
footer#footer .row ul li:hover a,
footer#footer .row ul li:hover i {
  color: #444444;
}