.mt-5-custom {
  margin-top: $standard-1-margin-top;
}
.mt-10-custom {
  margin-top: $standard-2-margin-top;
}
.root-bg-color-1 {
  background-color: $main-color-1 !important;
}
.root-bg-color-2 {
  background-color: $main-color-2 !important;
}
.root-bg-color-3 {
  background-color: $main-color-3 !important;
}
.root-bg-color-4 {
  background-color: $main-color-4 !important;
}
.root-color-1 {
  color: $main-color-1 !important;
}
.root-color-2 {
  color: $main-color-2 !important;
}
.root-color-3 {
  color: $main-color-3 !important;
}
.root-color-4 {
  color: $main-color-4 !important;
}
