section#plans {
  @include section-divider();
  .row {
    .plan-box {
      .plan-card {
        @include transition();
        border: 3.5px solid $main-color-3;
        border-radius: 10px;
        padding: 20px;
        h3 {
          text-align: center;
          font-size: 20px;
          color: $main-color-5;
          font-weight: 600;
        }
        p {
          text-align: center;
          margin: 20px 0;
          color: $main-color-1;
          font-size: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            margin: 0 2px;
            font-weight: 650;
            font-size: 23px;
          }
        }
        ul {
          li {
            text-align: center;
            margin-bottom: 15px;
            i {
              color: $main-color-1;
              margin-right: 5px;
            }
            b {
              color: $main-color-4;
            }
          }
        }
      }
      .plan-button {
        display: flex;
        justify-content: center;
        a {
          @include transition();
          width: 50%;
          background: $main-color-3;
          color: #efefef;
          padding: 10px;
          border-radius: 3rem;
          font-weight: 800;
        }
      }
      &:hover {
        .plan-card {
          border: 3.5px solid $main-color-1;
        }
        .plan-button {
          a {
            background: $main-color-1;
          }
        }
      }
    }
  }
}
