*,
body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
