$main-color-1: #051622;
$main-color-2: #cca57b;
$main-color-3: #1ba098;
$main-color-4: #444444;
$main-color-5: #e95d00;
$font-path: "../font";
$font-family: "Roboto-Medium";
$font-weight: 700;
$font-style: "normal";
$standard-1-margin-top: 5rem;
$standard-2-margin-top: 10rem;
