// main colors variables
$main-color-1: #051622;
$main-color-2: #cca57b;
$main-color-3: #1ba098;
$main-color-4: #444444;
$main-color-5: #e95d00;

// font variables
$font-path: "../font";
$font-family: "Roboto-Medium";
$font-weight: 700;
$font-style: "normal";

// margin variables
$standard-1-margin-top: 5rem;
$standard-2-margin-top: 10rem;

//* -----------------------------------------------------------------

// extra
@font-face {
  font-family: $font-family;
  src: url(#{$font-path}/Roboto-Medium.ttf);
}

//* ----------------------------------------------------------------

// general style
.mt-5-custom {
  margin-top: $standard-1-margin-top;
}
.mt-10-custom {
  margin-top: $standard-2-margin-top;
}
.root-bg-color-1 {
  background-color: $main-color-1 !important;
}
.root-bg-color-2 {
  background-color: $main-color-2 !important;
}
.root-bg-color-3 {
  background-color: $main-color-3 !important;
}
.root-bg-color-4 {
  background-color: $main-color-4 !important;
}
.root-color-1 {
  color: $main-color-1 !important;
}
.root-color-2 {
  color: $main-color-2 !important;
}
.root-color-3 {
  color: $main-color-3 !important;
}
.root-color-4 {
  color: $main-color-4 !important;
}

//* -----------------------------------------------------------------

@mixin transition($type: all, $time: 0.5s, $effect: ease) {
  transition: $type $time $effect;
}
@mixin after-line(
  $bottom: 0,
  $left: 0,
  $right: 0,
  $height: 2px,
  $background-color: $main-color-4
) {
  content: "";
  position: absolute;
  bottom: $bottom;
  left: $left;
  right: $right;
  height: $height;
  background-color: $background-color;
  width: 0;
  @include transition();
}
@mixin section-divider($rem-quantity: 5rem) {
  margin-top: $rem-quantity !important;
}

//* --------------------------------------------------------------------------

// resets
*,
body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

//* -----------------------------------------------------------

// navbar section
nav#navbar {
  min-height: 65px;
  button {
    border: 0;
    .custom-nav-toggle {
      position: relative;
      width: 0;
      font-size: 25px;
      background: $main-color-1;
      color: #deb992;
      bottom: -3px;
      &:hover {
        color: $main-color-3;
      }
    }
  }
  .collapse {
    a#sign-in {
      position: relative;
      @include transition();
      &::after {
        @include after-line(-7px, 0, 0, 2px, $main-color-3);
      }
      &:hover {
        color: $main-color-4 !important;
        &::after {
          width: 100%;
        }
      }
    }
    ul {
      li {
        display: inline-block;
        position: relative;
        a {
          @include transition();
          &:hover {
            color: $main-color-3 !important;
          }
        }
        &::after {
          @include after-line();
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

// header section
header#header {
  @include section-divider();
  .carousel {
    .carousel-control-prev {
      i {
        color: $main-color-4;
        font-size: 45px;
        position: absolute;
        bottom: -50px;
        right: -225%;
      }
    }
    .carousel-control-next {
      i {
        color: $main-color-4;
        font-size: 45px;
        position: absolute;
        bottom: -50px;
        left: -225%;
      }
    }
    .carousel-inner {
      .carousel-item {
        i.gear-1-1 {
          position: absolute;
          top: 35px;
          left: 21px;
          font-size: 20px;
          color: rgb(82, 44, 14);
          animation: gear-1-1 15s infinite linear;
        }
        i.gear-1-2 {
          position: absolute;
          top: 35px;
          left: 40px;
          font-size: 40px;
          color: rgb(233, 93, 0);
          animation: gear-1-2 15s infinite linear;
        }
        @keyframes gear-1-1 {
          100% {
            transform: rotate(-350deg);
          }
        }
        @keyframes gear-1-2 {
          100% {
            transform: rotate(350deg);
          }
        }
        // i.cloud-1-1 {
        //   position: absolute;
        //   font-size: 30px;
        //   color: #0c488d;
        //   bottom: 0;
        //   left: 0;
        //   animation: cloud-1-1 10s infinite linear;
        // }
        // i.cloud-1-2 {
        //   position: absolute;
        //   font-size: 30px;
        //   color: #0c488d;
        //   top: 0;
        //   right: 0;
        //   animation: cloud-1-2 10s infinite linear;
        // }
        // @keyframes cloud-1-1 {
        //   50% {
        //     left: 90%;
        //     color: rgb(0, 122, 37);
        //   }
        //   100% {
        //     left: 0;
        //   }
        // }
        // @keyframes cloud-1-2 {
        //   50% {
        //     top: 90%;
        //     color: rgb(0, 122, 37);
        //   }
        //   100% {
        //     top: 0;
        //   }
        // }
      }
    }
  }
}

section#domain {
  @include section-divider(10rem);
  .row {
    form {
      .domain-searcher {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border: 1px solid $main-color-4;
        border-radius: 50px;
        height: 65px;
        input {
          cursor: pointer;
          border: 0;
          color: $main-color-1;
          &:focus {
            box-shadow: none;
          }
        }
        i {
          color: $main-color-3;
          font-size: 25px;
          @include transition();
          &:hover {
            color: $main-color-5;
          }
        }
      }
    }
    div.domain-types {
      .domain-detail {
        ul {
          display: flex;
          justify-content: space-between;
          li {
            span {
              color: $main-color-2;
            }
            strong {
              color: $main-color-1;
            }
          }
        }
      }
    }
    .more-domains {
      margin-top: 2.75rem;
      a {
        background: $main-color-3;
        color: #efefef;
        padding: 15px 30px;
        border-radius: 50px;
        @include transition();
        &:hover {
          background: $main-color-1;
          color: $main-color-2;
        }
      }
    }
  }
}

// plans section
section#plans {
  @include section-divider();
  .row {
    .plan-box {
      .plan-card {
        @include transition();
        border: 3.5px solid $main-color-3;
        border-radius: 10px;
        padding: 20px;
        h3 {
          text-align: center;
          font-size: 20px;
          color: $main-color-5;
          font-weight: 600;
        }
        p {
          text-align: center;
          margin: 20px 0;
          color: $main-color-1;
          font-size: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            margin: 0 2px;
            font-weight: 650;
            font-size: 23px;
          }
        }
        ul {
          li {
            text-align: center;
            margin-bottom: 15px;
            i {
              color: $main-color-1;
              margin-right: 5px;
            }
            b {
              color: $main-color-4;
            }
          }
        }
      }
      .plan-button {
        display: flex;
        justify-content: center;
        a {
          @include transition();
          width: 50%;
          background: $main-color-3;
          color: #efefef;
          padding: 10px;
          border-radius: 3rem;
          font-weight: 800;
        }
      }
      &:hover {
        .plan-card {
          border: 3.5px solid $main-color-1;
        }
        .plan-button {
          a {
            background: $main-color-1;
          }
        }
      }
    }
  }
}

// steps section
section#steps {
  @include section-divider();
  .steps-title {
    margin: 7rem 0px -1rem 0px;
    h2 {
      color: $main-color-3 !important;
    }
    h3 {
      color: $main-color-4;
    }
  }
  .row {
    h3 {
      color: $main-color-1;
    }
    p {
      color: $main-color-4;
    }
    a {
      @include transition();
      color: $main-color-3;
      i {
        @include transition();
      }
      &:hover {
        i {
          margin-left: 1rem !important;
        }
      }
    }
  }
}

section#about-company {
  @include section-divider();
}

// contact us section
section#contact-us {
  @include section-divider();
  .row {
    form {
      input,
      textarea {
        border: 1px solid $main-color-4;
        &::placeholder {
          color: $main-color-4;
        }
        &:focus {
          border: 2px solid $main-color-3 !important;
          box-shadow: none;
        }
      }
      textarea {
        font-size: 1.25rem;
      }
      button {
        height: 45px;
        background: $main-color-3;
        border: 0;
        @include transition();
        &:hover {
          background: $main-color-1;
          color: $main-color-2;
        }
      }
    }
  }
}

// footer section
footer#footer {
  @include section-divider();
  min-height: 350px;
  display: flex;
  align-items: center;
  .row {
    h3 {
      font-size: 18px;
      color: $main-color-2;
    }
    ul {
      li {
        cursor: pointer;
        color: $main-color-3;
        a,
        i {
          @include transition();
          color: $main-color-3;
        }
        &:hover {
          color: $main-color-4;
          a,
          i {
            color: $main-color-4;
          }
        }
      }
    }
  }
}
