// main colors variables
$main-color-1: #051622;
$main-color-2: #deb992;
$main-color-3: #1ba098;
$main-color-4: #444444;

// font variables
$font-path: "../font";
$font-family: "Roboto-Medium";
$font-weight: 700;
$font-style: "normal";

// margin variables
$standard-1-margin-y: 5rem;

//* ----------------------------------------------------------------

// general style
.my-5-custom {
  margin: $standard-1-margin-y 0;
}
.root-bg-color-1 {
  background-color: $main-color-1 !important;
}
.root-bg-color-2 {
  background-color: $main-color-2 !important;
}
.root-bg-color-3 {
  background-color: $main-color-3 !important;
}
.root-bg-color-4 {
  background-color: $main-color-4 !important;
}
.root-color-1 {
  color: $main-color-1 !important;
}
.root-color-2 {
  color: $main-color-2 !important;
}
.root-color-3 {
  color: $main-color-3 !important;
}
.root-color-4 {
  color: $main-color-4 !important;
}
.animation {
  transition: all 0.5s ease;
}
//* -----------------------------------------------------------------

// extra
@font-face {
  font-family: $font-family;
  src: url(#{$font-path}/Roboto-Medium.ttf);
}

//* --------------------------------------------------------------------------

// resets
*,
body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

//* -----------------------------------------------------------

// steps section
section#steps {
  .steps-title {
    margin: 7rem 0px -1rem 0px;
    h2 {
      color: $main-color-3 !important;
    }
    h3 {
      color: $main-color-4;
    }
  }
  .row {
    h3 {
      color: $main-color-1;
    }
    p {
      color: $main-color-4;
    }
    a {
      transition: all 0.5s ease;
      color: $main-color-3;
    }
    a:hover {
      i {
        transition: all 0.5s ease;
        margin-left: 1rem !important;
      }
    }
  }
}

// navbar section
nav#navbar {
  button {
    border: 0;
    .custom-nav-toggle {
      position: relative;
      width: 0;
      font-size: 25px;
      background: $main-color-1;
      color: #deb992;
      bottom: -3px;
    }
    .custom-nav-toggle:hover {
      color: $main-color-3;
    }
  }
  .collapse {
    a {
      transition: all 0.5s ease;
    }
    a:hover {
      color: $main-color-3 !important;
    }
  }
}
